<h1>Master</h1>

<p>You are the master. Think of a word, answer yes or no questions, and keep an eye out for the insider.</p>

<p>You chose the word: <strong><%= @room.word %></strong></p>

<p>5:00</p>
