<h1>Lobby</h1>

<p>The room code is: <strong><%= @room.code %></strong></p>

<h2>Players</h2>

<ul>
  <% @room.players.each do |player| %>
    <li><%= player.name %></li>
  <% end %>
</ul>

<%= button_to "Start", room_start_path(@room) %>
